MONGODB_URI=mongodb://localhost:27017
MONGODB_DB=novac_3
INDIAN_ID_PYTHON=D:\novac_3\id_venv\Scripts\python.exe
INDIAN_ID_INFERENCE=D:\novac_3\indian-id-validator\inference.py
QWEN_BASE_URL=http://127.0.0.1:11434
QWEN_MODEL=qwen2.5:7b
USE_QWEN=true
