numpy==1.26.4
opencv-python==4.6.0.66
opencv-contrib-python==4.6.0.66
opencv-python-headless==4.6.0.66
paddlepaddle==2.6.2
paddleocr==2.7.3
ultralytics>=8.0.0
huggingface_hub>=0.17.0
matplotlib>=3.4.0
pandas==2.2.2
